[submodule "services/backend"]
	path = services/backend
	url = git@github.com:altexsoft-dmytro-novyk/backend.git
	branch = main
[submodule "services/frontend"]
	path = services/frontend
	url = git@github.com:altexsoft-dmytro-novyk/frontend.git
	branch = main
